[submodule "python-docs-es"]
	path = python-docs-es
	url = git@github.com:python/python-docs-es.git
[submodule "Complete-Python-3-Bootcamp"]
	path = Complete-Python-3-Bootcamp
	url = git@github.com:Koushikon/Complete-Python-3-Bootcamp.git
